h1, h3 {
	font-family: cursive;
	width: 450px;
}
.list {
	border-top: solid 2px black;
	border-bottom: solid 2px black;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: white;
	width: 450px;
	text-align: center;
}
.body {
	background-color: yellow;
	border: solid 3px black;
	width: 450px;
}