.correct {
  color: green;
  font-family: cursive;
  text-align: center;
}
h1 {
	text-align: center;
	font-family: cursive;
	color: blue;
}
p, label {
	text-align: center;
}
h2 {
	font-family: cursive;
}
.score {
	font-family: cursive;
	color: blue;
}
.score4 {
	text-align: center;
	font-family: cursive;
}